div#titre {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
div#nom {
	background-image: url("./images/bg.jpg");
	background-size: auto;
	height: 300px;
}
img#moi {
	width: 300px;
	height: 300px;
}
div#moi {
	display: flex;
	justify-content: center;
}

span#icon {
	font-size: 40px;
	color: white;
	padding: 50px;
}
.center {
	text-align: center;
}
footer {
	height: 100px;
}

#link {
	color: black;
}